// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for variables available below:
// https://quasar.dev/style/sass-scss-variables

//==================================================
// Brand Colors
//==================================================
$primary   : #1976D2; // Example Primary Color (Material Blue)
$secondary : #26A69A; // Example Secondary Color (Material Teal)
$accent    : #9C27B0; // Example Accent Color (Material Purple)

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

//==================================================
// App General Variables
//==================================================
// $body-font-size   : 14px;
// $body-line-height : 1.5;

//==================================================
// Typography
//==================================================
// To customize typography, see:
// https://quasar.dev/style/typography

// Example: Change default font
// $typography-font-family : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//==================================================
// Layout
//==================================================
// $toolbar-padding: 8px 12px;
// $footer-padding: 8px 16px;

//==================================================
// Spacing
//==================================================
// For spacing variables, see:
// https://quasar.dev/style/spacing 